<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.escom.gestorpro">

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="28"
        tools:overrideLibrary="androidx.wear" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorPro">
        <activity
            android:name=".activities.NuevoArchivoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MiEmpresaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MiEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NuevoRiesgoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RiesgoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BuzonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProyectoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditTareaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConceptosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EstrategiasActivity"
            android:exported="false" />
        <activity android:name=".activities.DatosAnalisisActivity" />
        <activity android:name=".activities.BuenasPracticasActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity
            android:name=".activities.TareaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProyectoDetailActivity"
            android:exported="false" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity
            android:name=".activities.PostDetailActivity"
            android:parentActivityName=".activities.MenuActivity" />
        <activity android:name=".activities.EditProfileActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.escom.gestorpro"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.CompleteProfileActivity" />
        <activity android:name=".activities.NuevoProyectoActivity" />
        <activity android:name=".activities.NuevoPost" />
        <activity
            android:name=".activities.RegistroTarea"
            android:label="@string/title_activity_registro_tarea" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.GestorPro.NoActionBar" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>